<!doctype html>
<html>
	<head>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	</head>
	<body >
		<div class="row">
			<div class="col-xs-8 col-xs-offset-2"
				<form>
					<div class="form-group">

						<label>Name</label>
						<input class="form-control" placeholder="Name">
						<a href="/submit">
							<button class="btn btn-default">
								Submit new Patient
							</button
						</a>
						<a href="/update">
							<button class="btn btn-default">
								Update existing patient
							</button
						<a/>
					<div>
				</form>
			</div
		</div



		 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	</body>
</htmlt