<!doctype html>
<html>
	<head>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	</head>
	<body >
		<div class="row">
			<div class="col-xs-8 col-xs-offset-2">
				<form>
					<div class="form-group">

						<br><br>

						<a class="btn btn-default" href="/submit">
							Submit new patient
						</a>

						<a class="btn btn-default" href="/update">
							Update existing patient
						</a>

						<br><br>

						<table class="table table-striped" id="firsttable" border="1">
							<thead>
							<tr>
								<th>Patient ID</th>
								<th>Patient Name</th>
								<th>Date of Birth</th>
								<th>Inpatient Unit</th>
								<th>Census</th>
								<th>Time of Admittance</th>	
								<th>Estimated Time until Transfer</th>	
							</tr>
						</thead>
						<tbody>
							<td>
								
							</td>
						</tbody>
						</table>


					<div>
				</form>
			</div>
		</div>

		 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	</body>
</html>