<!doctype html>
<html>
	<head>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	</head>
	<body >
		<div class="row">
			<div class="col-xs-8 col-xs-offset-2"
				<form>
					<div class="form-group">
						<br>
						<label>Name</label>
						<input class="form-control" placeholder="Name">
						<label>DOB</label>
						<input class="form-control" placeholder="Date of Birth">
						<label>Inpatient Unit</label>
						<input class="form-control" placeholder="Inpatient Unit">
						<label>Census</label><br>
						<input type="radio" name ="Census" value="high"> High<br>
						<input type="radio" name ="Census" value="low"> Low<br>
						
						<a href="/">
							<button class="btn btn-default">
								Add Patient to Database
							</button
						</a>	


					<div>
				</form>
			</div
		</div




		 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	</body>
</htmlt